body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

img {
    display: block;
    max-width: 50%;
    margin: 1em auto;
}

input {
    position: absolute;
    left: -9999px;
}


label, button {
    border: 0;
    display: inline-block;
    font-size: 1.5em;
    color: #fff;
    background: #5555ff;
    padding: 1em;
    margin-right: 2em;
}